@charset "utf-8";

h2 {
    font-size: 50px;
    font-weight: bold;
}
h3 {
    font-size: 27px;
}
h4 {
    font-size: 21px;
}
h5 {
    font-size: 16px;
}
.w1680 {
    width: 1680px;
    margin: 0 auto;
}
header {
	width: 1920px;
	background-color: rgba(0,0,0,0.65);
}
header nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
header nav h1 img {
    margin-top: 25px;
    margin-bottom: 25px;
}
header .nav_all {
    
}
.gnb {
    display: flex;
    flex-flow: row nowrap;
}
.gnb li {
    margin-left: 224px;
}
.gnb li:first-child {
    margin-left: 0;
}
.gnb li a {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 96px;
}
.gnb_icon {
    display: flex;
    flex-flow: row nowrap;
    vertical-align: middle;
    margin-top: 25px;
    margin-bottom: 25px;
}
.gnb_icon li{
    margin-right: 21px;
}
.gnb_icon li:last-child {
    margin-right: 0;
}
.gnb_icon .english {
	display: none;
}
.gnb_icon>li:nth-child(1) img, .gnb_icon>li:nth-child(2) img  {
	width: 52px;
}
.gnb_icon>li:nth-child(3) img {
	width: 40px;
}
.gnb_icon>li:nth-child(4) img {
	width: 42px;
}
.search {
	background: #eaeaea;
	padding-bottom: 50px;
	display: none;
}
.search p {
	text-align: right;
	width: 965px;
	margin: 0 auto;
	padding-top: 30px;
	margin-bottom: 15px;
	color: #616161;
	cursor: pointer;
}
.search_place {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 965px;
	margin: 0 auto;
}
.search_place input {
	height: 40px;
	border: none;
}
.search_place input:first-child {
	padding: 10px 20px;
	color: #212121;
	width: 780px;
}
.search_place input:last-child {
	width: 150px;
	margin-left: 35px;
	color: #fff;
	background-color: #00a8ec;
}